.itinerary {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 25px;

}

.itinerary-section {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.itinerary-sublist {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
}