.create-itinerary {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
}

.create-itinerary-main-form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  label {
    user-select: none;
    font-weight: 500;
  }
}

.create-itinerary-main-form-item {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
  font-size: 16px;
  label {
    color: #29323D;
  }
  input[type="text"] {
    width: 400px;
    outline: none;
    border: 0.5px solid #D7D9DB;
    border-radius: 3px;
    line-height: 24px;
    padding: 8px;
  }
}

.create-itinerary-main-form-item-check-group {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.create-itinerary-main-form-item-check-group-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(max-content, max-content);
  grid-gap: 10px;
  align-items: center;
  label {
    text-align: left;
    font-size: 13px;
    color: #61656B;
  }
}

@media only screen and (max-width: 900px) {

}