.itinerary-header {
  display: grid;
  grid-auto-flow: row;

  h3 {
    color: rgb(104, 104, 104);
  }
}

.itinerary-header-info {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 7.5px;
  color: #909090;
  font-size: 15px;
}

.itinerary-header-info-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 18px auto;
}
