@import "~normalize.css";
@import url('https://rsms.me/inter/inter.css');
@import "~@fortawesome/fontawesome-svg-core/styles";

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  color: #303030;
}

html, body, #__next {
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

.title {
  margin: 0.75rem 0;
  color: #264A73;
}

.sub-title {
  font-size: 1.125rem;
  font-weight: 400;
}

.title-2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #29323d;
}

.button {
  border-radius: 0.25rem;
  border: none;
  outline: none !important;
  font-size: 0.875rem;
  font-weight: 500;
  color: #454C54;
  background-color: #F3F5F6;
  &:hover, &:active {
    cursor: pointer;
  }
  &:hover, &:focus {
    background-color: #EEF0F2;
  }
  &:active {
    background-color: #EAEDF0;
  }
}

.button--wide {
  font-size: 0.875rem !important;
  width: 100% !important;
  height: 2.75rem !important;
  &:active {
    background: #E2ECF8 !important;
  }
}

.button--mini {
  height: 1.875rem !important;
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  padding: 0rem 0.875rem !important;
}

.button--micro {
  font-size: 11px !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
  color: #5C6570;
}

$button-red-text-color: #C63939;
$button-red-bg: #F5F0F0;
$button-red-bg-hover-focus: #F1EAEA;
$button-red-bg-active: #EFE1E1;

.button--red {
  color: $button-red-text-color;
  background: $button-red-bg !important;
  &:hover, &:focus {
    background: $button-red-bg-hover-focus !important;
  }
  &:active {
    background: $button-red-bg-active !important;
  }
}

$button-blue-text-color: #2E6EB8;
$button-blue-bg: #EEF2F6;
$button-blue-bg-hover-focus: #EAEDF1;
$button-blue-bg-active: #E1E8EF;

.button--blue {
  color: $button-blue-text-color;
  background: $button-blue-bg !important;
  &:hover, &:focus {
    background: $button-blue-bg-hover-focus !important;
  }
  &:active {
    background: $button-blue-bg-active !important;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.25rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}