.create-itinerary-step-1 {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
}

.create-itinerary-step-1-form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  label {
    user-select: none;
    font-weight: 500;
  }
}

.create-itinerary-step-1-form__elem {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
  font-size: 16px;
  label {
    color: #29323D;
  }
  input[type="text"] {
    width: 400px;
    outline: none;
    border: 0.5px solid #e4e6e7;
    border-radius: 3px;
    line-height: 24px;
    padding: 6px 8px;
    background-color: white;
    box-shadow: 0 0 1px 0px #D9D9D9;
  }
}

.create-itinerary-step-1-form__checkgroup {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.create-itinerary-step-1-form__checkgroup_elem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(max-content, max-content);
  grid-gap: 10px;
  align-items: center;
  label {
    text-align: left;
    font-size: 13px;
    color: #61656B;
  }
}

@media only screen and (max-width: 900px) {

}