.itinerary-page-list {
  list-style: none;
  padding: 0;
  margin-top: 0.75rem;
  border: 0.0313rem solid #eaebec;
  border-radius: 0.375rem;

  > :nth-child(n + 2) {
    border-top: 0.03125rem solid #eaebec;
  }

  > li {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    font-size: 0.9375rem;

    > :nth-child(n + 2) {
      margin-left: 1.125rem;
    }

    .itinerary-page-list-elem__name {
      color: #29323d;
    }

    .itinerary-page-list-elem__description {
      color: #737e8c;
      font-size: 0.875rem;
      margin-top: 0.2rem;
    }

    .itinerary-page-list-elem__button_row {
      margin-top: 0.5rem;
    }
  }
}

.itinerary-page-list_elem__info {
  flex-grow: 1;
}

.itinerary-page-list-elem__button_row {
  display: flex;
  justify-items: flex-start;
  > :nth-child(n + 2) {
    margin-left: 0.5rem;
  }
}
