.itinerary {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 25px;

}

.itinerary-section {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 5px;
  &>h1{
    font-size: 24px;
    font-weight: 500;
  }
}