.item {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.0313rem solid #eaebec;
  overflow: hidden;

  .item__header {
    display: flex;
    align-items: center;
    background: #f6f7f9;
    padding: 1rem 1.25rem;
    border-bottom: 0.0156rem solid #eaebec;

    .item__name {
      font-size: 0.9375rem;
      font-weight: 500;
      color: #29323d;
      margin: 0;
    }
  }

  .item__main {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.25rem;
    padding: 1.25rem;
    color: #737E8C;
    font-size: 0.875rem;

    .item__info {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-items: flex-start;
      grid-row-gap: 0.5rem;
      grid-column-gap: 1.5rem;
      
      .item__info_field_name {
          font-weight: 500;
      }
    }

    .item__body {
      .item__body_header > h3 {
        font-weight: 500;
        font-size: 0.875rem;
        margin: 0 0 0.5rem 0;
      }
    }
  }
}
