.main {
  --padding-v: 80px;
  --padding-h: 120px;
  display: block;
  width: 100%;
  overflow: auto;
  padding: var(--padding-v) var(--padding-h);
  &:after {
    content: "";
    height: var(--padding-v);
    display: block;
}
}

.main-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .main {
    --padding-v: 40px;
  --padding-h: 40px;
  }
}
