.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f4;
  width: 350px;
  overflow: hidden;
}

.sidebar-header {
  width: 100%;
  padding: 10px;
}

.sidebar-header-search {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 0.25px #e0e5eb;
  outline: none;
  padding: 10px;
  font-size: 16px;
  &::placeholder {
    color: #576475;
  }
}

.sidebar-content {
  flex-grow: 1;
  z-index: 1;
  padding: 10px;
}

.sidebar-content-nav {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 7.5px;
}

.sidebar-content-nav-item {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: #1B2532;
  &:hover {
    background-color: #e6e8ea;
    cursor: pointer;
  }
  &:active {
    background-color: #e0e3e5;
  }
}

.sidebar-content-nav-item--active {
  background-color: #e3e6e8;
  &:hover {
    cursor: default;
  }
}

.sidebar-footer {
  height: 65px;
  width: 100%;
  background: #e9eaed;
}
