$form-col-width: 400px;

.create-itinerary-step {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
}

.create-itinerary-step__main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.create-itinerary-form {
  width: $form-col-width;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;

  label {
    user-select: none;
    font-weight: 500;
  }
}

.create-itinerary-form__elem {
  display: grid;
  grid-auto-flow: row;

  input[type="text"] {
    outline: none;
    border: 0.5px solid #e4e6e7;
    border-radius: 3px;
    line-height: 24px;
    padding: 6px 8px;
    background-color: white;
    box-shadow: 0 0 1px 0px #d9d9d9;
  }
}

.create-itinerary-form__checkgroup {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.create-itinerary-form__checkgroup_elem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(max-content, max-content);
  grid-gap: 10px;
  align-items: center;

  label {
    text-align: left;
    font-size: 13px;
    color: #61656b;
  }
}

.create-itinerary-form__button_row {
  margin-top: 4px;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr;
  grid-gap: 16px;
}

@media screen and (max-width: 900px) {
  .create-itinerary-step__main {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .create-itinerary-form {
    width: 100%;
  }

  .create-itinerary-form__button_row  {
    grid-auto-flow: row;
  }
}
