.itinerary {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 25px;

}

.itinerary-section {
  display: grid;
  grid-auto-flow: row;
  &>h1{
    font-size: 22px;
    font-weight: 500;
  }
}

.itinerary-sublist {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
}