@import "../../pages/_app/index.scss";

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(38, 38, 38, 0.2);
  z-index: 100000;

  display: flex;
  align-items: center;
  justify-content: center;

  .modal__inner {
    background: white;
    padding: 1.25rem;
    width: 100%;
    max-width: 31.25rem;
    border-radius: 0.375rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.025);

    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.375rem;

    > :nth-child(n + 2) {
      margin-top: 0.875rem;
    }

    .modal__header {
      .modal__title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #264a73;
      }
    }

    .modal__form {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 0.875rem;

      .modal__form_elem {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 400;
        }
        input[type="text"] {
          @extend .input-text;
        }
      }
    }

    .modal__buttons {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
      .modal__button {
        font-size: 0.75rem !important;
        font-weight: 400;
        border-radius: 0.375rem !important;
        height: 2.375rem !important;
      }
    }
  }
}
