@import "~normalize.css";
@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  color: #303030;
}

html, body, #__next {
  height: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.title {
  margin: 12px 0;
  color: #264A73;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
}

.button-wide {
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #454C54;
  background-color: #F3F5F6;
  border-radius: 4px;
  border: none;
  outline: none !important;
  &:hover, &:active {
    cursor: pointer;
  }
  &:hover, &:focus {
    background-color: #EEF0F2;
  }
  &:active {
    background-color: #E2ECF8;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  .sub-title {
    font-size: 16px;
  }
}