.itinerary-page-full-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #E8E8E8;
  box-shadow: 1px 1px 1px 0 #E8E8E8;
  transition: 25ms ease-out;
  overflow: hidden;
  &:hover {
    background-color: #F9F9F9;
    cursor: pointer;
  }

  &:active {
    background-color: #F4F4F4;
  }
}

.itinerary-page-full-item-body {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  grid-gap: 15px;
  padding: 27px;

  * {
    margin: 0;
    word-break: break-word;
  }

  h1 {
    font-weight: normal;
    font-size: 22px;
    color: rgb(59, 59, 59);
  }

  h2 {
    font-weight: normal;
    font-size: 15px;
    color: rgb(131, 131, 131);
  }
}