.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
  min-width: 250px;
  max-width: 350px;
  width: 30vw;
  height: 100%;
  overflow: hidden;
}

.sidebar-header {
  width: 100%;
}

.sidebar-content {
  flex-grow: 1;
  box-shadow: 0 0px 4px #C8C8C8;
  z-index: 1;
}

.sidebar-footer {
  height: 65px;
  width: 100%;
  background: 	#E8E8E8;
}
